@font-face {
  font-family: "TR2N";
  src:
    url("/fonts/TRN.ttf") format("truetype"),
    url("/fonts/TRN.woff2") format("woff2"),
    url("/fonts/TRN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
